<md-toolbar color="primary" class="dark">
  <div class="md-toolbar-tools" fxLayout="row nowrap" fxFlex fxLayoutAlign="end center">
    <a><img class="logo" src="favicon.ico"></a>
    <a fxFlex md-button [routerLink]="['dash']" routerLinkActive="router-link-active"><span>Dashboard</span></a>
  </div>
  <span class="fill-space"></span>
  <pm-usercard [user]="auth.getUserProfile()"></pm-usercard>
  <button md-button (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
  <button md-button (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
</md-toolbar>