<md-card class="flex-item">
  <md-card-header>
    <md-card-title>{{watchlist.name}}
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <md-list dense>
      <md-list-item *ngFor="let stock of watchlist.stocklist">
        <span style="font-size:small;"><b>{{stock.t}}&nbsp;&nbsp;{{stock.l}}&nbsp;&nbsp;</b></span>
        <span [ngClass]="{'red': stock.c_fix < 0, 'green': stock.c_fix > 0}" style="font-size:small;"> {{stock.c_fix}} ({{stock.cp_fix}}%) </span>
        <span style="font-size:small;">&nbsp;&nbsp;{{stock.ltt}}</span>
      </md-list-item>
    </md-list>
    <md-input-container>
      <input mdInput placeholder="Ticker" [(ngModel)]="newWLTicker" (keyup.enter)="addTickerToWL()">
    </md-input-container>
    <button md-button color="primary" (click)="addTickerToWL()">ADD</button>
  </md-card-content>
  <md-card-actions>
    <button *ngIf="deletable" md-button color="warn" (click)="deleteWL()" style="font-size:xx-small;">
      DELETE WATCHLIST
    </button>
  </md-card-actions>
</md-card>