<md-card class="flex-item">
  <md-card-header>
    <md-card-title>{{watchlist.name}}
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <md-list dense class="div-table" *ngIf="watchlist.stocklist && watchlist.stocklist.length > 0">
      <md-list-item class="div-table-row" *ngFor="let stock of watchlist.stocklist">
          <pm-tickerprice [stock]="stock" style="width:100%"></pm-tickerprice>
      </md-list-item>
       <md-list-item style="float:right;">
         <span >Total : {{getTotal()}}</span>
       </md-list-item>
    </md-list>
    <md-input-container>
      <input mdInput placeholder="Ticker" [(ngModel)]="newWLTicker" (keyup.enter)="addTickerToWL()">
    </md-input-container><br/>
    <md-input-container>
      <input mdInput type="number" placeholder="Stake" style="width:40px;" [(ngModel)]="initialStake">
    </md-input-container>
    <button md-button color="primary" (click)="addTickerToWL()">ADD</button>
  </md-card-content>
  <md-card-actions>
    <button *ngIf="deletable" md-button color="warn" (click)="deleteWL()" style="font-size:xx-small;">
      DELETE WATCHLIST
    </button>
  </md-card-actions>
</md-card>