<md-input-container style="margin-left:10px;">
  <input mdInput type="text" placeholder="Create Watchlist" [(ngModel)]="newWL" (keyup.enter)="createWatchlist()" />
</md-input-container>
<button md-button color="primary" (click)="createWatchlist()">ADD</button>
<div class="flex-container">
  <pm-watchlist [watchlist]="sandBoxWL" [auto]="true" [deletable]="false"></pm-watchlist>

  <pm-watchlist *ngFor="let w of watchlists" [watchlist]="w" [auto]="true" [deletable]="true" (delete)="DeleteWL($event)"></pm-watchlist>

</div>