<div class="row columns">
  <button (click)="login()" *ngIf="!(user | async)?.uid">Anonymous Login</button>
  <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>

  <input type="text" id="message" *ngIf="(user | async)?.uid" placeholder="What is it that you do?" (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal" />
  <div id="details-container">
      <p *ngFor="let item of items | async">{{item.message}}</p>
  </div>
</div>

<md-input-container style="margin-left:10px;">
  <input mdInput type="text" placeholder="Create Watchlist" [(ngModel)]="newWL" (keyup.enter)="createWatchlist()" />
</md-input-container>
<button md-button color="primary" (click)="createWatchlist()">ADD</button>
<div class="flex-container">
  <pm-watchlist *ngFor="let w of watchlists" [watchlist]="w" [auto]="true" [deletable]="true" 
      (delete)="DeleteWL($event)"></pm-watchlist>
</div>
