/* You can add global styles to this file, and also import other style files 

deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css
*/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "https://fonts.googleapis.com/css?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Roboto:400,300";

html,body{
    display: flex;
    flex-direction: column;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    margin:0;
    height: 100%;
}
.grid {
    flex-wrap:wrap;
    width:100%;
}
.fill-space {
  flex: 1 1 auto;
}
.red{ color:red;}
.green{color:green;}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd){background-color: #efebff}

th {
    background-color: #4CAF50;
    color: white;
}