/* You can add global styles to this file, and also import other style files 

deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css
*/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "https://fonts.googleapis.com/css?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Roboto:400,300";

html,body{
    display: flex;
    flex-direction: column;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    margin:0;
    height: 100%;
}
.grid {
    flex-wrap:wrap;
    width:100%;
}
.fill-space {
  flex: 1 1 auto;
}
.red{ color:red;}
.green{color:green;}

.div-table {
  display: table;         
  width: auto;                
  border: 0px solid #666666;         
  border-spacing: 5px; /* cellspacing:poor IE support for  this */
}
.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}
.div-table-col {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: auto;         
}
.div-table-col-long {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: auto;
  margin:5px;         
}